<!-- <ScrollView>
  <StackLayout>
    <Label
      class="title"
      [text]="challenge"
      horizontalAlignment="center"
      *ngFor="let challenge of challenges"
    >
    </Label>
  </StackLayout>
</ScrollView> -->
<!-- <ListView [items]="challenges" (itemTap)="onItemTap($event)" iosEstimatedRowHeight="65">
  <ng-template let-challenge="item" let-i="index">
    <GridLayout rows="40,20" columns="50,*">
      <Label [text]="i" row="0" col="0" rowSpan="2"></Label>
      <Label [text]="challenge" row="0" col="1"></Label>
      <Label text="Item content row" row="1" col="1"></Label>
    </GridLayout>
  </ng-template>
</ListView> -->
<ns-action-bar title="Current challenge" [showBackButton]="false">
  <ActionItem ios.position="right" android.position="actionBar"
    ><Label
      text="Replace"
      nsRouterLink="/challenges/replace"
      pageTransition="slideLeft"
    ></Label
  ></ActionItem>
  <ActionItem ios.position="right" android.position="actionBar"
    ><Label
      text="Edit"
      nsRouterLink="/challenges/edit"
      pageTransition="slideLeft"
    ></Label
  ></ActionItem>
</ns-action-bar>

<StackLayout>
  <Label
    class="title"
    text="The current challenge"
    horizontalAlignment="center"
  ></Label>
  <!-- <Button text="Edit" class="btn btn-primary" (tap)="onEdit()"></Button>
  <Button text="Replace" nsRouterLink="/challenges/replace"></Button> -->
  <Button
    ios:text="Change status"
    android:text="Change"
    (tap)="onChangeStatus()"
  ></Button>
</StackLayout>
<FlexboxLayout class="page">
  <StackLayout>
  <Label class="h1 text-center" text="Take a walk every day"></Label>
  <Label class="body text-center" text="Walk for at least 20 minutes on every day of the week."></Label>
  <GridLayout rows="auto,*,*,*,*,*,*" columns="*,*,*,*,*,*,*">
    <Label class="text-center" *ngFor="let weekDay of weekDays; let i = index" [text]="weekDay" row="0" [col]="i">

    </Label>
    <Label width="50" height="50" *ngFor="let day of days; let i = index" [text]="day.dayInMonth" [row]="getRow()" [col]="day.dayInWeek"></Label>
  </StackLayout>
  </GridLayout>
</FlexboxLayout>
