AbsoluteLayout {
    border-color: green;
    border-width: 5;
    height: 100%;
}

Label {
    width: 50;
    height: 50;
    text-align: center;
    /* vertical-align: middle; */
}

#i1 {
    background: red;
}

#i2 {
    background: blue;
}

#i3 {
    background: orange;
}

#i4 {
    background: green;
}

#i5 {
    background: yellow;
}
