<!-- <StackLayout>
  <ns-current-challenge> </ns-current-challenge>
</StackLayout> -->

<!-- <FlexboxLayout>
  <ns-challenge-edit (input)="onChallengeInput($event)"></ns-challenge-edit>
  <ns-current-challenge [challengeTitle]="activeChallenge"> </ns-current-challenge>
</FlexboxLayout> -->
<!-- <ns-absolute></ns-absolute> -->
<!-- <StackLayout>
  <router-outlet></router-outlet>
</StackLayout> -->
<RadSideDrawer>
  <FlexboxLayout tkDrawerContent class="drawer-container">
    <Button text="Logout" class="btn" nsRouterLink="/" [clearHistory]="true" (tap)="onLogout()"></Button>
  </FlexboxLayout>
  <StackLayout tkMainContent>
    <page-router-outlet></page-router-outlet>
  </StackLayout>
</RadSideDrawer>
