<!-- <FlexboxLayout
  flexDirection="row"
  justifyContent="space-between"
  alignItems="flex-start"
>
  <Label id="i1" text="Item 1"></Label>
  <Label id="i2" text="Item 2" alignSelf="flex-end"></Label>
  <Label id="i3" text="Item 3"></Label>
</FlexboxLayout> -->

<FlexboxLayout
  flexDirection="column"
  justifyContent="space-around"
  alignItems="center"
>
  <Label id="i1" text="Item 1"></Label>
  <Label id="i2" text="Item 2"></Label>
  <!-- <Label id="i3" text="Item 4"></Label> -->
</FlexboxLayout>

<!-- <FlexboxLayout flexDirection="column-reverse" justifyContent="space-around" alignItems="stretch" height="300" width="300" backgroundColor="lightgray">
    <Label text="Label 1" width="50" height="50" backgroundColor="red"></Label>
    <Label alignSelf="center" text="Label 2" width="50" height="50" backgroundColor="green"></Label>
    <Label alignSelf="flex-end" text="Label 3" width="50" height="50" backgroundColor="blue"></Label>
    <Label text="Label 4" width="50" height="50" backgroundColor="yellow"></Label>
</FlexboxLayout> -->
