// .highlighted {
//     background-color: red;
//     color: white;
// }

// .standard {
//     background-color: blue;
//     color: white;
// }
@import "~@nativescript-theme-core/scss/light";
@import "../../../theme/colors";

GridLayout {
    background-image: url("res://summit");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

FlexboxLayout {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn {
    width: 300;
}

.btn-success {
    background: $success;
    border-color: $success;
    color: $white;
}

.btn-fail {
    background: $fail;
    border-color: $fail;
    color: $white;
}
