<ns-action-bar
  title="Today's challenge"
  [showBackButton]="false"
></ns-action-bar>
<GridLayout>
  <ns-challenge-actions
    (actionSelect)="onActionSelected($event)"
    cancelText="Reset"
  ></ns-challenge-actions>
</GridLayout>
<!-- <StackLayout>
  <Button class="btn btn-success btn-rounded-lg" text="Completed"></Button>
  <Button class="btn btn-fail btn-rounded-lg" text="Failed"></Button>
  <Button class="btn btn-flat" text="Reset"></Button>
  <!-- <Label text="Today!"> </Label> -->
<!-- <Button
    text="Click me!"
    (tap)="onDemo()"
    class="standard"
    [ngClass]="{ highlighted: isHighlighted }"
  ></Button>
  <Button
    text="today works!"
    class="btn btn-primary"
    nsRouterLink="/current-challenge"
    pageTransition="slideleft"
  ></Button> -->
<!-- </StackLayout> -->
