/* @import "~@nativescript/theme/css/core.css";
@import "~@nativescript/theme/css/default.css"; */

@import "~@nativescript-theme-core/scss/light";
@import './theme/colors';
$btn-color: $primary;

@import "~@nativescript-theme-core/scss/index";

ActionBar {
   background: lighten($primary, 20);
   color: white;
}


.drawer-container {
    background: linear-gradient(140deg, #2b0c72, #5c3fa0);

    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20;
}

.btn-flat {
    background: transparent;
    border-color: transparent;
    border-width: 1;
}

.h1 {
    font-weight: bold;
    color: $primary;
}
